# Python
*.py[cod]
*$py.class
__pycache__/
*.so
.Python
venv/
env/
*.egg-info/

# Django
*.log
db.sqlite3
db.sqlite3-journal
/media
/staticfiles

# Environment
.env

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# Node
node_modules/